* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  height: 200px;
  border: 5px solid rgb(126, 125, 133);
}

li:nth-child(1) {
  background-color: rgb(55, 134, 140);
}
li:nth-child(2) {
  background-color: rgb(129, 255, 157);
  flex-basis: 100px;
  flex-shrink: 2;
}
li:nth-child(3) {
  background-color: rgb(255, 176, 226);
  flex-basis: 200px;
}
li:nth-child(4) {
  background-color: rgba(129, 203, 255, 0.836);
}
li:nth-child(5) {
  background-color: rgb(255, 250, 99);
}
